@font-face {
    font-family: bloxat;
    src: url(Bloxat-PDoE.ttf);
}

body {
    background-color: #fae3eb;
    background-image: url(../img/spinning-heart-transparent.gif);
    background-size: 10%;
    font-family: bloxat;
    font-weight: 400;
}

.container {
    height:600px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.menu {
    height:20rem;
    width:35rem;
    background-color: white;
    border-right:7px solid #f8adcc;
    border-left:7px solid #f8adcc;
    border-bottom: 7px solid #f8adcc ;
    padding:10px;
}

.menu-body {
    color:#f8adcc;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.menu-header {
    height:35px;
    width:594px;
    display:flex;
    color: white;
    background-color: #f8adcc;
    align-items: center;
    
}

.danger-icon {
    height:100px;
    width:100px;
    padding-top:10px;
}

.menu-header p {
    margin: 0;
    text-align: center;
    padding-left: 7px;
}

.buttons-container {
    display:flex;
    margin-top: 1rem;
    justify-content: space-between;
    width:55%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn {
    height:4rem;
    width:8rem;
    font-family: bloxat;
    font-weight: 400;
    font-size: 1.5rem;
    color:white;
    transition: filter 0.75s;
    cursor:pointer;
}

.btn:hover {
    filter: brightness(150%);
}

.btn-yes {
    background-color: #42f958;
}

.btn-no {
    background-color: #f94247;
}

.press-no-reminder-container {
    background-color: white;
    color:#f8adcc;
    width:10rem;
    border: 2px solid #f8adcc;
    text-align: center;
    position:absolute;
    top:23rem;
    left:55rem;
    display:none;
}

#jumping-no-btn {
    display:none;
    position:absolute;
}

.popup-img {
    display: block;
    opacity: 1;
    position:absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    transition: opacity 2s;
}
